APP_HOST=localhost
APP_PORT=8000
MYSQL_DATABASE=mason-db
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_HOST=localhost
MYSQL_PORT=3306
DATABASE_URL=mysql://root:123456@localhost:3306/mason-db
REDIS_HOST=localhost
REDIS_PORT=6379
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_NAME=Administrator
TEST_USERNAME=test
TEST_PASSWORD=test
TEST_NAME=TestUser
