$bg-animation-duration: 0.5s;

html {
  // View transition styles
  &::view-transition-old(*),
  &::view-transition-new(*) {
    animation: none;
  }

  &::view-transition-old(root),
  &::view-transition-new(root) {
    mix-blend-mode: normal;
    will-change: clip-path;
  }

  &::view-transition-old(root) {
    background-color: var(--vt-bg-old, transparent);
    z-index: 1;
  }

  &::view-transition-new(root) {
    background-color: var(--vt-bg-new, transparent);
    animation: clip $bg-animation-duration ease-in;
    z-index: 9999;
  }
}

@keyframes clip {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }

  to {
    clip-path: circle(var(--r) at var(--x) var(--y));
  }
}
