:root {
  --sys-primary-500: #6366f1;
  --sys-primary-500-rgb: 99, 102, 241;
  --sys-primary: var(--sys-primary-500);
  --sys-primary-rgb: var(--sys-primary-500-rgb);
  --sys-success-500: #16a34a;
  --sys-success-500-rgb: 22, 163, 74;
  --sys-success: var(--sys-success-500);
  --sys-success-rgb: var(--sys-success-500-rgb);
  --sys-warning-500: #f59e0b;
  --sys-warning-500-rgb: 245, 158, 11;
  --sys-warning: var(--sys-warning-500);
  --sys-warning-rgb: var(--sys-warning-500-rgb);
  --sys-danger-500: #ef4444;
  --sys-danger-500-rgb: 239, 68, 68;
  --sys-danger: var(--sys-danger-500);
  --sys-danger-rgb: var(--sys-danger-500-rgb);
  --sys-info-500: #64748b;
  --sys-info-500-rgb: 100, 116, 139;
  --sys-info: var(--sys-info-500);
  --sys-info-rgb: var(--sys-info-500-rgb);
  --sys-neutral-0: #ffffff;
  --sys-neutral-50: #f5f6f9;
  --sys-neutral-100: #f1f5f9;
  --sys-neutral-200: #e2e8f0;
  --sys-neutral-300: #cbd5e1;
  --sys-neutral-400: #94a3b8;
  --sys-neutral-500: #64748b;
  --sys-neutral-600: #475569;
  --sys-neutral-700: #334155;
  --sys-neutral-800: #1f2937;
  --sys-neutral-900: #0f172a;
  --sys-neutral-950: #020617;
  --sys-neutral-0-rgb: 255, 255, 255;
  --sys-neutral-50-rgb: 245, 246, 249;
  --sys-neutral-900-rgb: 15, 23, 42;
  --sys-primary-light-1: color-mix(in srgb, var(--sys-primary) 90%, var(--sys-mix-base));
  --sys-primary-light-2: color-mix(in srgb, var(--sys-primary) 80%, var(--sys-mix-base));
  --sys-primary-light-3: color-mix(in srgb, var(--sys-primary) 70%, var(--sys-mix-base));
  --sys-primary-light-4: color-mix(in srgb, var(--sys-primary) 60%, var(--sys-mix-base));
  --sys-primary-light-5: color-mix(in srgb, var(--sys-primary) 50%, var(--sys-mix-base));
  --sys-primary-light-6: color-mix(in srgb, var(--sys-primary) 40%, var(--sys-mix-base));
  --sys-primary-light-7: color-mix(in srgb, var(--sys-primary) 30%, var(--sys-mix-base));
  --sys-primary-light-8: color-mix(in srgb, var(--sys-primary) 20%, var(--sys-mix-base));
  --sys-primary-light-9: color-mix(in srgb, var(--sys-primary) 10%, var(--sys-mix-base));
  --sys-primary-dark-2: color-mix(in srgb, var(--sys-primary) 80%, var(--sys-mix-invert));
}
