# App Configuration
APP_HOST=localhost
APP_PORT=8000

# MySQL Configuration
MYSQL_DATABASE=mason-db
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_HOST=localhost
MYSQL_PORT=3306

# Admin Configuration (Initial Admin User)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_NAME=Administrator

# Test Configuration
TEST_USERNAME=test
TEST_PASSWORD=test
TEST_NAME=TestUser